.SideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 15em;
    height: 100vh;
    border-right: 1px double white;
    font-family: MedievalFont;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    z-index: 2;
    overflow: hidden;
    .SideBar__Pages {
        position: relative;
        margin: 0 auto;
        // padding: 3em;
        color: white;
        left: 1em;
        transition: left 0.3s;
        position: relative;
        &:hover,
        &:active {
            left: 2em;
            cursor: pointer;
        }

        a {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: inherit;
            padding: 3em;
            
        }
    }
}